####A company started to invest in digital marketing as a new way of their productpromotions. For that they collected data and decided to carry out a study on it.

#####1. The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

#####Ho : Sales After Digital Advertising will be less than or equal to the sales before Digital Advertising.

#####Ha : Sales After Digital Advertising will be Greater than the sales before usage of Digital Advertising

In [20]:
import numpy as np
import pandas as pd
import scipy.stats as stats

In [5]:
df = pd.read_csv('Sales_add.csv')

In [6]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [7]:
t_score, p_value = stats.ttest_rel(df['Sales_After_digital_add(in $)'],df['Sales_before_digital_add(in $)'])

In [8]:
p_value

6.336667004575778e-11

In [9]:
if p_value<0.05:
  print('Reject the null hypothesis')
else:
  print('Accept the null hypothesis')

Reject the null hypothesis

#####So the sales after stepping into digital marketing is increased.

#####2.The company needs to check whether there is any dependency betweenthe features “Region” and “Manager”

#####Ho : There is NO significant dependency between the Region and the Manager features.

#####Ha : There is a significant amount of dependency between the Region and the Manager features.

In [12]:
from scipy.stats import chi2_contingency

In [10]:
data_crosstab = pd.crosstab(df['Region'],df['Manager'])

In [11]:
data_crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [13]:
stat, p_val, dof, expected = chi2_contingency(data_crosstab)

In [14]:
p_val

0.5493991051158094

In [18]:
if p_val < 0.05:
  print('Reject the null hypothesis')
else:
  print('Accept the null hypotheis')

Accept the null hypotheis

#####So there is a significant amount of dependency between the Region and the Manager features.